In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
import geopandas as gpd
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [141]:
pip install geopandas

Requirement already satisfied: geopandas in c:\users\klsha\anaconda\lib\site-packages (1.0.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.22 in c:\users\klsha\anaconda\lib\site-packages (from geopandas) (1.26.4)
Requirement already satisfied: pyogrio>=0.7.2 in c:\users\klsha\anaconda\lib\site-packages (from geopandas) (0.10.0)
Requirement already satisfied: packaging in c:\users\klsha\anaconda\lib\site-packages (from geopandas) (24.1)
Requirement already satisfied: pandas>=1.4.0 in c:\users\klsha\anaconda\lib\site-packages (from geopandas) (2.2.2)
Requirement already satisfied: pyproj>=3.3.0 in c:\users\klsha\anaconda\lib\site-packages (from geopandas) (3.7.1)
Requirement already satisfied: shapely>=2.0.0 in c:\users\klsha\anaconda\lib\site-packages (from geopandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\klsha\anaconda\lib\site-packages (from pandas>=1.4.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\klsha\anaconda\lib\site-packages (from pandas>=1.4.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\klsha\anaconda\lib\site-packages (from pandas>=1.4.0->geopandas) (2023.3)
Requirement already satisfied: certifi in c:\users\klsha\anaconda\lib\site-packages (from pyogrio>=0.7.2->geopandas) (2025.1.31)
Requirement already satisfied: six>=1.5 in c:\users\klsha\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.4.0->geopandas) (1.16.0)

In [6]:
trash_df = pd.read_csv('../data/trash_hauler_report_with_lat_lng.csv')

In [8]:
trash_df.head()

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,LONGITUDE,LATITUDE
0,25270,11/1/2017,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207.0,RED RIVER,3205,2.0,1727970.412,686779.4781,-86.815392,36.217292
1,25274,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1721259.366,685444.7996,-86.838103,36.213470
2,25276,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1707026.753,659887.4716,-86.885562,36.142923
3,25307,11/1/2017,Trash - Curbside/Alley Missed Pickup,missed,2603 old matthews rd,37207.0,WASTE IND,2206,2.0,1735691.771,685027.2459,-86.789170,36.212652
4,25312,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1710185.772,664205.1011,-86.874995,36.154861

In [201]:
trash_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20226 entries, 0 to 20225
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Request Number    20226 non-null  int64
 1   Date Opened       20226 non-null  object
 2   Request           20226 non-null  object
 3   Description       20195 non-null  object
 4   Incident Address  20217 non-null  object
 5   Zip Code          20151 non-null  float64
 6   Trash Hauler      19325 non-null  object
 7   Trash Route       19279 non-null  object
 8   Council District  20177 non-null  float64
 9   State Plan X      20198 non-null  float64
 10  State Plan Y      20198 non-null  float64
 11  LONGITUDE         20198 non-null  float64
 12  LATITUDE          20198 non-null  float64
 13  Cost              20226 non-null  object
dtypes: float64(6), int64(1), object(7)
memory usage: 2.2+ MB

In [203]:
red_river = trash_df[trash_df['Trash Hauler'] =='RED RIVER']

Filtered to just the Red River Trash Hauler

In [205]:
red_river.head()

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,LONGITUDE,LATITUDE,Cost
0,25270,11/1/2017,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207.0,RED RIVER,3205,2.0,1727970.412,686779.4781,-86.815392,36.217292,11/1/201711/1/201711/1/201711/1/201711/1/20171...
1,25274,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1721259.366,685444.7996,-86.838103,36.213470,11/1/201711/1/201711/1/201711/1/201711/1/20171...
2,25276,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1707026.753,659887.4716,-86.885562,36.142923,11/1/201711/1/201711/1/201711/1/201711/1/20171...
4,25312,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1710185.772,664205.1011,-86.874995,36.154861,11/1/201711/1/201711/1/201711/1/201711/1/20171...
5,25317,11/1/2017,Trash Collection Complaint,left trash cart in middle of driveway instead ...,3602 floral dr,37211.0,RED RIVER,4304,16.0,1751660.164,643215.2011,-86.733980,36.098140,11/1/201711/1/201711/1/201711/1/201711/1/20171...

In [215]:
red_river_missed = red_river[red_river['Request'] =='Trash - Curbside/Alley Missed Pickup']

Filtered to just Missed Pickups

In [217]:
red_river_missed.head()

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,LONGITUDE,LATITUDE,Cost
1,25274,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1721259.366,685444.7996,-86.838103,36.213470,11/1/201711/1/201711/1/201711/1/201711/1/20171...
2,25276,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1707026.753,659887.4716,-86.885562,36.142923,11/1/201711/1/201711/1/201711/1/201711/1/20171...
4,25312,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1710185.772,664205.1011,-86.874995,36.154861,11/1/201711/1/201711/1/201711/1/201711/1/20171...
8,25330,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed.,4484 Lavergne Couchville Pike,37013.0,RED RIVER,4210,33.0,1794533.514,618749.3427,-86.588364,36.031728,11/1/201711/1/201711/1/201711/1/201711/1/20171...
10,25341,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed trash pickup - resident has at curb for...,3113 HYDES FERRY RD,37218.0,RED RIVER,4204,2.0,1721577.768,676018.3999,-86.836750,36.187584,11/1/201711/1/201711/1/201711/1/201711/1/20171...

In [219]:
multicounts = red_river_missed.groupby(['Incident Address'])['Date Opened'].count()

Grouped by the address, so I could determine the number of missed pickups per address

In [221]:
multicounts = multicounts.reset_index()

Reset the index to create a dataframe

In [223]:
multicounts

                                       Incident Address  Date Opened
0     100 Bluefield Square, Nashville, TN 37214, Uni...            1
1                                   100 Braxton Hill Ct            1
2                                   100 Brook Hollow Rd            1
3     100 Clydelan Ct, Nashville, TN 37205, United S...            2
4     100 Desoto Dr, Nashville, TN 37210, United States            1
...                                                 ...          ...
8185         Old Tusculum Rd, Antioch, Tennessee, 37013            1
8186      Queens Ln, Nashville, TN 37218, United States            1
8187                                   Robin Springs Rd            1
8188     Trevino Pl, Nashville, TN 37013, United States            1
8189    Westboro Dr, Nashville, TN 37209, United States            1

[8190 rows x 2 columns]

In [229]:
two_or_more = multicounts[multicounts['Date Opened'] > 1]

Filtered to multiple incidents of Missed Pickups in the Red River subset

In [231]:
two_or_more

                                       Incident Address  Date Opened
3     100 Clydelan Ct, Nashville, TN 37205, United S...            2
8     100 Lincoln Ct, Nashville, TN 37205, United St...            2
9     100 Nashboro Greens, Nashville, TN 37217, Unit...            2
12     100 Rhine Dr, Nashville, TN 37115, United States            2
21    1000 Flintlock Ct, Nashville, TN 37217, United...            2
...                                                 ...          ...
8148                                      946 Youngs Ln            2
8149  947 Glendale Ln, Nashville, TN 37204, United S...            2
8162  960 44th Ave N, Nashville, TN 37209, United St...            2
8169  971 Windrowe Dr, Nashville, TN 37205, United S...            2
8173  986 Malquin Dr, Nashville, TN 37216, United St...            2

[1551 rows x 2 columns]

In [233]:
two_or_more.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1551 entries, 3 to 8173
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Incident Address  1551 non-null   object
 1   Date Opened       1551 non-null   int64
dtypes: int64(1), object(1)
memory usage: 36.4+ KB

In [235]:
def costs(row):
    return row * 200

In [237]:
corrected_cost = lambda x: (x-1) * 200

Created a single function that removed the first instance of missed pickup since they are only fined 200 USD after missing more than one time

In [239]:
corrected_cost_df = corrected_cost(two_or_more['Date Opened'])

In [241]:
corrected_cost_df = corrected_cost_df.reset_index()

In [243]:
corrected_cost_df.head()

   index  Date Opened
0      3          200
1      8          200
2      9          200
3     12          200
4     21          200

In [245]:
corrected_cost_df['Date Opened'].sum()

504800

Above is the adjusted, corrected cost of the missed pickups. The number of missed pickups per address, adjusted for one allowed missed pickup before the 200 USD fee is incurred. Returned value is the total 504,800 USD fee for all missed pickups.

In [147]:
trash_geo = gpd.read_file('../data/trash_hauler_report_with_lat_lng.csv')

In [149]:
trash_geo

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,LONGITUDE,LATITUDE
0,25270,11/1/2017,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207,RED RIVER,3205,2,1727970.412,686779.4781,-86.81539226,36.21729166
1,25274,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218,RED RIVER,4202,1,1721259.366,685444.7996,-86.83810278,36.21346977
2,25276,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209,RED RIVER,4205,20,1707026.753,659887.4716,-86.8855624,36.14292283
3,25307,11/1/2017,Trash - Curbside/Alley Missed Pickup,missed,2603 old matthews rd,37207,WASTE IND,2206,2,1735691.771,685027.2459,-86.7891702,36.21265241
4,25312,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209,RED RIVER,4203,20,1710185.772,664205.1011,-86.87499468,36.15486093
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20221,267125,11/1/2019,Trash - Curbside/Alley Missed Pickup,MISSED...NEIGHBORS MISSED,2731 Murfreesboro Pike,37013,RED RIVER,4502,32,1781137.263,632448.5511,-86.63397,36.06913
20222,267126,11/1/2019,Trash - Curbside/Alley Missed Pickup,entire alley,"1621 Long Ave, Nashville, TN 37206, United States",37206,METRO,9508,6,1749711.399,669201.6016,-86.74124224,36.16948232
20223,267130,11/1/2019,Trash - Curbside/Alley Missed Pickup,missed several,"2943 Windemere Cir, Nashville, TN 37214, Unite...",37214,RED RIVER,1502,15,1770293.388,674936.3038,-86.67164737,36.18564312
20224,267134,11/1/2019,Trash - Curbside/Alley Missed Pickup,Caller stated trash was missed & were only pic...,"3325 Murfreesboro Pike, Nashville, TN 37013, U...",37013,RED RIVER,4502,32,1785224.998,627146.4002,-86.62002525,36.05463692
20225,267137,11/1/2019,Trash - Curbside/Alley Missed Pickup,possibly others missed as well,"604 Somerset Ct, Nashville, TN 37217, United S...",37217,RED RIVER,2505,29,1781360.323,637742.0068,-86.63333117,36.08367504

In [157]:
trash_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20226 entries, 0 to 20225
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Request Number    20226 non-null  object
 1   Date Opened       20226 non-null  object
 2   Request           20226 non-null  object
 3   Description       20226 non-null  object
 4   Incident Address  20226 non-null  object
 5   Zip Code          20226 non-null  object
 6   Trash Hauler      20226 non-null  object
 7   Trash Route       20226 non-null  object
 8   Council District  20226 non-null  object
 9   State Plan X      20226 non-null  object
 10  State Plan Y      20226 non-null  object
 11  LONGITUDE         20226 non-null  object
 12  LATITUDE          20226 non-null  object
dtypes: object(13)
memory usage: 2.0+ MB

In [155]:
other_geo = gpd.GeoDataFrame(trash_geo, 
                           crs = trash_geo.crs, 
                           geometry = gpd.points_from_xy(trash_geo['LONGITUDE'].lng, trash_geo['LATITUDE'].lng))

AttributeError: 'DataFrame' object has no attribute 'crs'